@import './base/normalize';
@import './utils/variables';
@import './utils/breakpoins';
@import './base/base_settings';
@import './components/page-header';
@import './components/logo';
@import './components/hero';
@import './components/advances';
@import './components/works';
@import './components/team';
@import './components/clients';
@import './components/_social-links';
@import './components/page-footer';
@import './components/portfolio';
@import './components/_modal';
@import './components/_data-form';

// @media screen and (min-width: $mobile) {
//     width: $mobile;
//   }
//   @media screen and (min-width: $tablet) {
//     width: $tablet;
//   }
//   @media screen and (min-width: $desktop) {
//     width: $desktop;
//   }
