/* Hero */

.hero {
  text-align: center;
}

.hero__overlay {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;

  background-size: cover;
  background-position: center;
  background-color: $secondary-bg-color;

  @media screen and (max-width: ($mobile - 1px)) {
    max-width: 480px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-480.jpg);

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      image-set(url(../images/hero-480.jpg) 1x, url(../images/hero-480@2x.jpg) 2x);

    // @media screen and (min-device-pixel-ratio: 2),
    //   screen and (min-resolution: 192dpi),
    //   screen and (min-resolution: 2dppx) {
    //   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    //     url(../images/hero-480@2x.jpg);
    // }
  }

  @media screen and (min-width: $mobile) and (max-width: ($tablet - 1px)) {
    max-width: 780px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-768.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-768@2x.jpg);
    }
  }

  @media screen and (min-width: $tablet) {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-1600.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-1600@2x.jpg);
    }
  }

  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    height: 600px;
  }
}
.hero__title {
  margin-bottom: 30px;

  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__button {
  color: #ffffff;
  background-color: $accent-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;

  padding: 10px 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  cursor: pointer;

  @media screen and (min-width: $desktop) {
    padding: 10px 32px;
  }
}
