.logo {
  margin-right: auto;
  display: inline-block;
  color: #000000;
  cursor: default;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;

  @media screen and (min-width: $desktop) {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo__web {
  color: $accent-color;
}

.page-footer__logo {
  color: #ffffff;
  margin-bottom: 20px;
}
.logo--margin {
  @media screen and (min-width: $tablet) {
    margin-right: 88px;
  }
}
