/* Header*/
.header__container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.menu-container {
  display: flex;

  @media screen and (max-width: ($tablet - 1px)) {
    position: relative;
    padding: 48px 40px;
    flex-direction: column;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: $tablet) {
    flex-grow: 2;
    justify-content: center;
  }
}
.menu-container.is-open {
  transform: translateX(0);
}
.site-nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.site-nav__navigation {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.site-nav__item + .site-nav__item {
  @media screen and (max-width: ($tablet - 1px)) {
    margin-top: 32px;
  }
  @media screen and (min-width: $tablet) {
    margin-left: 50px;
  }
}

.site-nav__link {
  position: relative;
  display: block;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  @media screen and (min-width: $tablet) {
    padding: 32px 0px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  color: $secondary-color-text;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-nav__link--active {
  color: $accent-color;

  @media screen and (min-width: $tablet) {
    &::after {
      position: absolute;
      bottom: -1px;
      display: block;

      content: '';
      width: 100%;
      height: 4px;
      background: $accent-color;
      border-radius: 2px;
    }
  }
}

.contact {
  display: flex;

  @media screen and (max-width: ($tablet - 1px)) {
    flex-direction: column;
    flex-grow: 2;
    justify-content: end;
    margin-bottom: 64px;
  }
  @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
    padding: 21px 0;
    align-items: start;
    flex-direction: column;
  }
  @media screen and (min-width: $desktop) {
    align-items: center;
  }
}

.contact__item + .contact__item {
  @media screen and (max-width: ($tablet - 1px)) {
    margin-top: 32px;
  }
  @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
    margin-top: 10px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 50px;
  }
}

.contact__icon {
  margin-right: 10px;
  fill: currentcolor;

  @media screen and (max-width: ($tablet - 1px)) {
    display: none;
  }
}

.contact__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.16;

  color: $primary-color-text;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: ($tablet - 1px)) {
    font-size: 24px;
  }
  @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
    font-size: 12px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.14;
  }
  &:hover,
  &:focus {
    color: $accent-color;
    @media screen and (max-width: ($tablet - 1px)) {
      font-size: 34px;
    }
  }
}

.contact__link--mail {
  display: flex;
  align-items: center;
}

.contact__link--tel {
  display: flex;
  align-items: center;
}

.social-block {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.social-block__item {
  padding: 0 10px 0 0;
  & + & {
    padding: 0 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.social-block__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: $accent-color;
}

.menu-toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.menu-toggle--close {
  position: absolute;
  top: 10px;
  right: 15px;
}
.menu-toggle__icon {
  display: block;
}
