/* Portfolio selection******************** */

.button {
  min-width: 73px;
  padding: 6px 22px;

  color: $secondary-color-text;
  background-color: #f5f4fa;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  border-radius: 4px;
  border: none;
  cursor: pointer;

  transform: translateY(0);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.active,
  &:focus,
  &:hover {
    color: #ffffff;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    transform: translateY(-2px);
  }
}

.selection-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

/* Portfolio cards ************************/

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  // @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
  //   &:not(:nth-child(2n)) {
  //     margin-right: 30px;
  //   }
  //   &:not(:nth-last-child(-n + 2)) {
  //     margin-bottom: 30px;
  //   }
  // }
  // @media screen and (min-width: $desktop) {
  //   &:not(:nth-child(3n)) {
  //     margin-right: 30px;
  //   }
  //   &:not(:nth-last-child(-n + 3)) {
  //     margin-bottom: 30px;
  //   }
  // }
}

.portfolio__image-text {
  position: relative;
  overflow: hidden;
}

.portfolio__card-declar {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% + 1px);
  transform: translateY(100%);
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $primary-bg-color;
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .portfolio__item:hover & {
    transform: translateY(0);
  }
}

.portfolio__image {
  display: block;

  @media screen and (max-width: ($mobile - 1px)) {
    max-width: 100%;
  }
}
.portfolio__caption {
  padding: 20px 18px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.portfolio__title {
  margin-bottom: 4px;
  color: $secondary-color-text;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio__sort {
  margin: 0px;
  color: $primary-color-text;

  font-size: 16px;
  line-height: 1.88;
}
