/* Works */
.section--works {
  @media screen and (max-width: ($desktop - 1px)) {
    display: none;
  }
}

.works {
  position: relative;
  display: flex;
}

.works__item:not(:last-child) {
  margin-right: 30px;
}

.works__image {
  display: block;
}

.works__title {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
